
@media all and (min-width: 480px) {
    .main-container {
        height: auto;
        width: 100%;
        position: absolute;
    }

    .container {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .workaround1 {
      position: absolute;
      top: 50px;
      left: 150px;
    }

    .workaround2 {
      font-size: large;
      font-weight: bold;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: 340px;
    }

    .navbar-header {
        float: left;
        position:relative;
        left:-90px;
        top:-35px;
    }
    navbar {
        border: none;
        font-size: 13px;
        font-weight: 300;
    }

    .navbar-header:after, .navbar-header:before,
    .navbar-collapse:after, .navbar-collapse:before,
    .nav:before {
        content: " ";
        display: table;
    }

    .logo {
        height: 4em;
        margin-top: -1.2em;
        transition: height .3s;
    }
    img {
        vertical-align: middle;
        border: 0;
    }
    .navbar-brand>img, .tab-content>.active {
        display: block;

    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .navbar-default .navbar-brand {
        transition: all .3s;
    }
    .navbar-default .navbar-brand {
        color: #4eaa17;
        font-family: "Confortaa","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .navbar-brand {
        float: left;
        padding: 12px 15px;
        font-size: 19px;
        line-height: 21px;
        height: 45px;
    }

    .navbar-default, .bottom-default {
        background-color: #004974;
        padding: 15px 0;
        transition: padding .3s;
        border: black;
        z-index: 30000;
        position: relative;
        float: left;
        width: 100%;
    }

    .navbar-default .navbar-collapse {
        background-color: #004974;
        border-color: rgba(255,255,255,.98);
    }

    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }

    .nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    .navbar {
        border: none;
        font-size: 13px;
        font-weight: 300;
    }

    .navbar-default .nav li {
        margin-right: 5px;
    }

    .nav>li, .nav>li>a {
        position: relative;
        display: block;
    }

    .navbar-default .nav li .header-button-drop button, .navbar-default .nav li a, .navbar-default .nav li.active a {
        font-family: "Confortaa","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: 1px;
        color: #ddd;
        border: 1px solid #00598d;
    }

    .navbar-default .nav li a {
        background-color: #004974;
    }

    .navbar-nav>li>a {
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 21px;
    }

    .nav>li>a {
        padding: 10px 15px;
        position: relative;
        display: block;
    }

    .navbar-default .nav li a:hover, .navbar-default .nav li.active a, .navbar-default .nav li.active a:hover {
        border-color: #fff;
        background-color: #004974;
        color: #fff;
    }

    .content {
        position: relative;
        width: 100%;
        min-height: 766px;
        float: left;
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 50px;
        background: #004974;
        bottom: -100px;
        font-family: "Confortaa","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: 1px;
        color: #fff;
        text-align: center;
        padding-top: 20px;
    }
    
    .loader-wrapper{
        position: absolute;
        left: 50vw;
        top: 50vh;
    }

    #listView {
        padding-left: 0;
        padding-right: 0;
        width: auto;
    }

    #listView table {
        margin-bottom: 0;
    }

    #listView table th,
    #listView table tr td {
        text-align: center;
    }

    #listView .table-bordered > thead > tr > th, 
    #listView .table-bordered > thead > tr > td {
        border-bottom-width: 0;
    }

    #listView thead th {
        font-family: 'Patua One', cursive;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
        padding: 20px;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
        background-image: -moz-linear-gradient(#646f7f, #4a5564);
        background-image: -webkit-linear-gradient(#646f7f, #4a5564);
        background-image: linear-gradient(#646f7f, #4a5564);
        border-top: 1px solid #858d99;
    }

    #listView tbody tr td {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #5f6062;
        font-size: 13px;
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid #e0e0e0;
    }

}
